/* moon */
.moon_container {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
.moon {
  text-align: center;
}
.pick {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 2.7px;
}

.moon-bld {
  color: var(--hover);
  margin-right: 5px;
  font-weight: 500;
}

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  /* margin: 0 24px; */
}

.destination-info {
  padding-bottom: 20px;
  border-bottom: #383B4B 1px solid;
}

.locations {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.location-img {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.destination-h1 {
  font-size: 3.5rem;
}

.locations-names {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  color: var(--main-accent);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.locations-names:hover {
  border-bottom: solid 3px var(--hover);
}

.active_des {
  border-bottom: solid 3px var(--main-accent);
  transition: all 0.3s ease-in-out;
  opacity: 1s;
  color: var(--white);
}

.destination-description {
  color: var(--main-accent);
  line-height: 25px;
  font-size: 1.1rem;
  font-weight: 100;
}

.distance {
  margin-top: 12px;
  text-transform: uppercase;
}

.detail {
  color: var(--main-accent);
  font-size: 1.1rem;
  font-weight: 300;
  padding: 10px;
  font-family: var(--text);
  letter-spacing: 2.36px;
}

.travelDist {
  font-family: var(--title);
  font-size: 2rem;
  font-weight: 100;
  padding: 10px 0;
}

/* | tablet | */
@media all and (min-width: 700px) {
  .moon {
    padding: 40px 39px;
  }
  .pick {
    text-align: left;
    padding-bottom: 46px;
  }

  .locations {
    justify-content: center;
    margin-top: 53px;
    margin-bottom: 32px;
  }

  .locations-names {
    letter-spacing: 2.7px;
    margin: 0 17.5px;
    padding-bottom: 12px;
  }

  .destinations {
    padding-left: 58px;
    padding-right: 58px; 
  }

  .destination-h1 {
    font-size: 5.5rem;
  }

  .destination-description {
    font-size: 1.2rem;
  }

  .distance {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
  }
}
/* ^ tablet ^ */

/* | desktop | */
/* @media all and (min-width: 700px){} */
/* ^ desktop ^ */
